<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnString" value="DATASOURCE=arrow.arrowtruck.com;USERID=webuser;PASSWORD=arr0wweb1" />
    <add key="DBLibrary" value="AIS2000D" />
    <add key="MailServer" value="arrowtruck-com.mail.protection.outlook.com" />
    <add key="SmtpServer" value="arrowtruck-com.mail.protection.outlook.com" />
    <add key="SmtpServer_old" value="8.8.100.229" />
    <add key="SmtpServer_old2" value="ats15.arrowtruck.com" />
    <add key="TruckPhotoPath" value="http://www.transportfunding.com/repos/images/" />
    <add key="MailPWD" value="" />
    <add key="MailUID" value="" />
    <add key="TFSupport" value="supportTF@transportfunding.com" />
    <add key="ArrowSupport" value="support@arrowtruck.com" />
    <add key="EmailTFInfo" value="infoTF@transportfunding.com" />
    <add key="EmailContactUsForm" value="infoTF@transportfunding.com;jsteinhilber@transportfunding.com" />
    <add key="EmailCreditAppForm" value="credit@transportfunding.com" />
    <add key="EmailChangeOfAddressForm" value="scortez@transportfunding.com" />
    <add key="EmailACHAuthForm" value="scortez@transportfunding.com;arodriguez@transportfunding.com" />
    <add key="AdminUsername" value="admin" />
    <add key="AdminPassword" value="tf2014" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
  </appSettings>
  
  <system.web>
    <compilation debug="false" >
      <assemblies>
        <add assembly="IBM.Data.DB2.iSeries, Version=12.0.0.0, Culture=neutral, PublicKeyToken=9CDB2EBFB1F93A26"/>
      </assemblies>
    </compilation>
    
    <!-- 
	  <httpRuntime targetFramework="4.5"/>
    -->

    <!-- mode="On|Off|RemoteOnly" -->
    <!--
    <customErrors mode="RemoteOnly" defaultRedirect="/docs/error.default.aspx">
      <error statusCode="404" redirect="/docs/error.notfound.aspx"/>
    </customErrors>-->

    <customErrors mode="Off" />
    

    <!-- Set maintainScrollPositionOnPostBack. -->
    <pages maintainScrollPositionOnPostBack="true"/>

    <!-- Reset max upload file size to 300MB. Unit: kilobyte. -->
    <httpRuntime maxRequestLength="300000" />


    
    <!-- 
    <sessionState timeout="40"/>
    -->
  </system.web>

  <system.webServer>
    <security>
      <requestFiltering>
        <!-- Reset max upload file size to 300MB. Unit: byte. -->
        <requestLimits maxAllowedContentLength="300000000" />
      </requestFiltering>
    </security>
  </system.webServer>
  
</configuration>