<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="ConnString" value="DATASOURCE=arrow.arrowtruck.com;USERID=webuser;PASSWORD=arr0wweb1;DefaultCollection=ais2000d "/>
		<!--<add key="PathSLSPhotos" value="\\ats65\OutsideInternetWebsites\arrowtruck_com\images\SlsPhotos\"/>-->
		<add key="PathSLSPhotos" value="\\ats58\SandboxATS58\SlsPhotos\"/>

	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.8">
			<assemblies>
				<add assembly="IBM.Data.DB2.iSeries, Version=12.0.0.0, Culture=neutral, PublicKeyToken=9CDB2EBFB1F93A26"/>
			</assemblies>
		</compilation>

		<customErrors mode="Off"/>

		<pages maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>

		<httpRuntime maxRequestLength="300000"/>

	</system.web>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="300000000"/>
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>