<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConnString" value="DATASOURCE=arrow.arrowtruck.com;USERID=webuser;PASSWORD=arr0wweb1;DefaultCollection=ais2000d "/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="IBM.Data.DB2.iSeries, Version=12.0.0.0, Culture=neutral, PublicKeyToken=9CDB2EBFB1F93A26"/>
      </assemblies>
    </compilation>
    <!-- 
    <httpRuntime targetFramework="4.5"/>
    -->
    <!-- mode="On|Off|RemoteOnly" -->
    <!--
    <customErrors mode="RemoteOnly" defaultRedirect="/docs/error.default.aspx">
      <error statusCode="404" redirect="/docs/error.notfound.aspx"/>
    </customErrors>-->
    <customErrors mode="Off"/>
    <!-- Set maintainScrollPositionOnPostBack. -->
    <pages maintainScrollPositionOnPostBack="true" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <!-- Reset max upload file size to 300MB. Unit: kilobyte. -->
    <httpRuntime maxRequestLength="300000"/>
    <!-- 
    <sessionState timeout="40"/>
    -->
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!-- Reset max upload file size to 300MB. Unit: byte. -->
        <requestLimits maxAllowedContentLength="300000000"/>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>